<div><mat-card appearance="outlined">
                <mat-card-header>
                        <mat-card-title class="item">{{product().title}}</mat-card-title>

                </mat-card-header>
                <mat-card-actions>

                        <button mat-icon-button><mat-icon aria-hidden="false" aria-label="-"
                                        fontIcon="remove"></mat-icon></button>

                        <button mat-icon-button><mat-icon aria-hidden="false" aria-label="+"
                                        fontIcon="add"></mat-icon></button>

                        <mat-card-content>quantidade: {{product().amount}}</mat-card-content>

                        <button mat-button (click)="edit.emit()"><mat-icon aria-hidden="false" aria-label="Editar"
                                        fontIcon="edit"></mat-icon></button>

                        <button mat-button><mat-icon aria-hidden="false" aria-label="deletar"
                                        fontIcon="delete"></mat-icon></button>

                </mat-card-actions>
        </mat-card>
</div>
