mat-card-header.mat-mdc-card-header {
  
  padding: 4px 16px 4px 16px;
  justify-content: space-evenly;
}

.mat-mdc-button > .mat-icon {
  margin: 0px 8px 0px 8px;
}

mat-card-content.mat-mdc-card-content {
  padding-top: 0px;
}

mat-card {
  margin-bottom: 5px;
}
.item {
  text-transform: capitalize;
}

.done {
  background-color: #97cdff; 
}