<p>list works!</p>
<ul>
    @for (product of products; track product.id) {

    <div class="example-container"><mat-card appearance="outlined">
            <mat-card-header align="">
                <mat-card-title>{{product.title}}</mat-card-title>
                <mat-card-content>quantidade: {{product.amount}}</mat-card-content>
                <mat-card-actions align="">
                    <button mat-button><mat-icon aria-hidden="false" aria-label="Editar"
                        fontIcon="edit"></mat-icon></button>
                <button mat-button><mat-icon aria-hidden="false" aria-label="Editar"
                        fontIcon="delete"></mat-icon></button>
                </mat-card-actions>
                
            </mat-card-header>
        </mat-card>
    </div>
    }
</ul>