<div *ngIf="auth.isAuthenticated$ | async; else notLoggedIn" >
  <h3>itens a comprar</h3>
  <div class="action-container">
    <a mat-icon-button aria-label="Adicione" [routerLink]="['/create-product']"><mat-icon>add_circle</mat-icon></a>
  </div>
  
  <div *ngFor="let product of products; ">
    <app-card [product]="product" (edit)="onEdit(product)" (delete)="onDelete(product)"></app-card>
  </div>
  
  <h3>itens comprados</h3>
  
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of todo; track item) {
          <div class="example-box" cdkDrag>{{item}}</div>
        }
      </div>
    </div>
  
    <div class="example-container">
      <h2>Done</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of done; track item) {
          <div class="example-box" cdkDrag>{{item}}</div>
        }
      </div>
    </div>
  </div>
</div>
<ng-template #notLoggedIn>
      <p>Por favor, faça login para acessar a aplicação.</p>
    </ng-template>